.site-header
  = link_to '',root_path,class:'site-header-logo'
  %nav.gnav
    %ul.gnav__menu
      %li.gnav__menu__item
        = link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn'
        = fa_icon 'home'
      %li.gnav__menu__item
        = link_to "Post", new_tweet_path
        = fa_icon 'edit'
    = form_with url: search_tweets_path, method: :get,class:'search-form' ,local: true do |form| 
      = form.text_field :keyword
      = form.submit "search"