= render 'header'
.contents.row
.tweet__row
  = render 'tweet.detail'
  .comment__side-box
    .comment__list
      -@comments.each do |comment|
        -if comment.parent_id == nil 
          .comment__list--box
            .commented__user
              =comment.user.nickname
            .commented__text
              =comment.text
          - replies = Comment.where("parent_id = #{comment.id}")
          - unless replies.empty?
            - replies.each do |reply|
              .reply__list--box
                .commented__user
                  ="#{reply.user.nickname}"
                .commented__text
                  =reply.text
          = form_for ([@tweet, @comment]) do |f| 
            = f.hidden_field :parent_id ,value: comment.id
            = f.text_field :text 
            = f.submit class:'form_submit'
    .edit__list
      .edit__list--box
        -if current_user.id == @tweet.user_id
          .edit-box
            =link_to 'Edit',edit_tweet_path(@tweet)
          .delete-box
            =link_to 'Delete',tweet_path(@tweet),method: :delete
        -else 
          .comment--box
            =form_for ([@tweet, @comment]) do |f|
              .comment--box__label
                =f.label :text
              .comment--box__text
                =f.text_field :text
              .comment--box__btn
                =f.submit "Comment", class:'form_submit'


